/* global stylesheet */

#canvas {
	width: 90%;
	height: 90%;
	padding: 2% 5% 0 5%;
}

#main-page {
	overflow-x: hidden;
}

#go-button:active{
	margin-left: 25px;
}

#animal-name {
	font-size: 2em;
}

#tree-area {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

#inventory {
	width: 20%;
	height: 100%;
	position: absolute;
	right: -25%;
	top: 0;
	background: yellow;
	-webkit-box-shadow: -5px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -5px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -5px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

#inventory-icon {
	position: absolute;
	top: 2%;
	right: 2%;
}

#play-game-button {
	width: 50%;
	position: absolute;
	bottom: 0;
}

#coin-icon {
	position: absolute;
	right: 10%;
	top: 2%;
}

#coins {
	position: absolute;
	top: 3%;
	right: 16%;
	margin: 0px;
}

.hidden {
	display: none;
}

.go-button {
	width: 20%;
	height: auto;
	margin-left: 20px;
}

.animal-icon {
	width: 18%;
	margin-right: 4%;
}

.c-seg {
	position: absolute;
}

.animal-icon.active {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border:5px solid red;
	border-radius: 8%;
}

.i-accessory {
	position: relative;
	left: 10%;
}

.small-text {
	position: absolute;
	bottom: 1%;
	margin-left: 10px;
	margin-bottom: 0px;
}

body {
	margin: 0;
	font-family: 'Signika';
	color: black;
	font-size: 2.5em;
	overflow: hidden;

	background: url(../images/bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	color: white;
}

input {
	border: none;
	border-bottom: black solid medium;
	width: 65%;
	background: none;
	font-size: 2em;
	font-family: 'Signika';
}

input:focus {
	outline: none;
}



@-webkit-keyframes wiggle {
	0% { -webkit-transform: translate(2px, 1px); }
	10% { -webkit-transform: translate(-1px, -2px); }
	20% { -webkit-transform: translate(-3px, 0px); }
	30% { -webkit-transform: translate(0px, 2px); }
	40% { -webkit-transform: translate(1px, -1px); }
	50% { -webkit-transform: translate(-1px, 2px); }
	60% { -webkit-transform: translate(-3px, 1px); }
	70% { -webkit-transform: translate(2px, 1px); }
	80% { -webkit-transform: translate(-1px, -1px); }
	90% { -webkit-transform: translate(2px, 2px); }
	100% { -webkit-transform: translate(1px, -2px); }
}
.shake:hover,
.shake {
	-webkit-animation-name: wiggle;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	display:inline-block;
}
.shake1 {
	-webkit-animation-delay: 0.15s;
}
.shake2 {
	-webkit-animation-delay: 0.3s;
}
.shake3 {
	-webkit-animation-delay: 0.45s;
}
.shake4 {
	-webkit-animation-delay: 0.6s;
}
.shake5 {
	-webkit-animation-delay: 0.75s;
}

/*.shake {
	-webkit-animation-name: shake;
	animation-name: shake;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both; 
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); } 
}*/